
.ConfigPanel{
    position: fixed;
    right: 0px;
    width: 330px;
    height: 65%;
    top:20%;
    justify-content: center;
    border-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

